<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2>Temporary List of breeds:</h2>

    <ul>
      <% dogamiArray.forEach( dogami => { %>
      <li>
        <a href="<%= dogami.url %>"
          >Dogami #<%= dogami.dogami_id %> - <%= dogami.name %></a
        >
      </li>
      <% }) %>
    </ul>
  </body>
</html>
