<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <h2><%=dogami.name%></h2>

    <p>id: #<%= dogami.dogami_id %></p>
    <p>breed: <%= dogami.breed %></p>
  </body>
</html>
